body {
    font-family: arial;
    font-size: small;
    background-color: rgb(165, 165, 221) ;
}

a:hover{
        color: lavender;
        transition: 0,4s;
}

a{
    padding: 5px;
    text-decoration: none;
}