body {
    font-family: arial;
    font-size: small;
    background-color: rgb(165, 165, 221) ;
}

a:hover{
    color: lavender;
    transition: 0,4s;
}

a{
    padding: 7px;
    text-decoration: none;
}

button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
  height: 20px;
  padding: 0px 10px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
}
button:hover{
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}